@using DamaGame.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

@{
    this.ViewData["Title"] = "Beginning";
}

<h1 class="card-title text-center p-5 text-primary">Please login to continue</h1>

<p class="card-title text-center p-5 text-primary">If you do not have an account please register</p>
