@using DamaGame.Common
@using DamaGame.Data.Models
@using DamaGame.Data.Models.Enums
@using DamaGame.Data.Repositories
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> userManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    <link href="~/css/add-player.css" rel="stylesheet">
    <link href="~/css/business-casual.min.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav mx-auto">
                        @if (!this.SignInManager.IsSignedIn(this.User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-primary" asp-area="" asp-controller="Beginning" asp-action="Beginning">Beginning</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-primary" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-primary" asp-area="" asp-controller="Players" asp-action="MyPlayers">My players</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-primary" asp-area="" asp-controller="Players" asp-action="Index">Ranking</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-primary" asp-area="" asp-controller="Games" asp-action="NewGame">New game</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-primary" asp-area="" asp-controller="Games" asp-action="Game">Game</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-primary" asp-area="" asp-controller="Games" asp-action="AllGames">All games</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-5">
            @this.RenderBody()
        </main>
    </div>

    <footer class="footer text-faded text-center py-5">
        <div class="container">
            <p class="m-0 small">Copyright &copy; Your Website 2020</p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/signalR/site.js"></script>

    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
