@using DamaGame.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4 text-primary">Welcome to @GlobalConstants.SystemName!</h1>

    <section class="page-section clearfix">
        <div class="container">
            <div class="intro">
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="img/dama.jpg" alt="">
                <div class="intro-text left-0 text-center bg-faded p-3 rounded">
                    <h2 class="section-heading mb-5 text-primary">
                        <span class="section-heading">DAMA</span>
                        <span class="section-heading-upper">or Nine Men's Morris </span>
                    </h2>
                    <p class="mb-4 text-primary">
                        is a strategy board game for two players dating at least to the Roman Empire. The board consists of a grid with twenty-four intersections or points. Each player has nine pieces, or "men", usually coloured black and white. Players try to form 'dama' - three of their own men lined horizontally or vertically - allowing a player to remove an opponent's man from the game. A player wins by reducing the opponent to two pieces (where he could no longer form damas and thus be unable to win),or by leaving him without a legal move.
                    </p>
                    <div class="intro-button mx-auto">
                        <a class="btn btn-primary btn-xl" href="https://en.wikipedia.org/wiki/Nine_men%27s_morris">Visit for more details!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
