@using DamaGame.Web.ViewModels.Games
@model GamesListViewModel

@{
    this.ViewData["Title"] = "All Games";
}

<h1 class="card-title text-center text-primary">@this.ViewData["Title"]</h1>

@if (this.Model.Games.Count() == 0)
{
    <h5 class="card-title text-center text-primary">There are currently no active games</h5>
}

@if (this.Model.WaitinPlayer != null)
{

    <h6 class="text-md-center">Player-@this.Model.WaitinPlayer.Name  = VS =  Waiting for a new player</h6>
    <br />
}

@foreach (var game in this.Model.Games)
{
<a class="text-white" asp-area="" asp-controller="Games" asp-action="Game">Player-@game.LeftPlayer.Name  = VS =  Player-@game.RightPlayer.Name</a>
<br />
}
