@using DamaGame.Web.ViewModels.Games
@model GamesListViewModel

@{
    this.ViewData["Title"] = "All Games";
}

<h1 class="card-title text-center text-primary">@this.ViewData["Title"]</h1>

@if (this.Model.Games.Count() == 0)
{
<h5 class="card-title text-center text-primary">There are currently no active games</h5>
}

@foreach (var game in this.Model.Games)
{
    var name = "Waiting for a new player";

    if (@game.RightPlayer != null)
    {
        name = "Player-" + @game.RightPlayer.Name;
    }
    <h6>Player-@game.LeftPlayer.Name  = VS =  @name</h6>
}
