@using DamaGame.Web.ViewModels.Games
@using DamaGame.Data.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> userManager
@model GameStartViewModel

@{
    this.ViewData["Title"] = "New Game";
}
<h1 class="card-title text-center text-primary">Select a  player for a new game </h1>

<form method="post" class="form-signin">
    <div class="form-label-group">
        <h6 class="card-title text-center text-primary">Select player</h6>
        <select asp-for="SelectedPlayerName" class="form-control id=selectedPlayerName" asp-items="Model.PlayersSelectList" required></select>
    </div>

    <div class="d-flex justify-content-center">
        <button id=startGame type="submit" class="btn btn-block btn-primary text-white mb-3">Start game</button>
    </div>

</form>
