@using DamaGame.Web.ViewModels.Players
@using DamaGame.Data.Models.Enums
@model PlayerInputViewModel

@{
    this.ViewData["Title"] = "Players";
}

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card-body">
                    <h5 class="card-title text-center">Create a player</h5>

                    <form class="mx-auto w-50" method="post">
                        <div class="form-group">
                            <div class="d-flex justify-content-start">
                                <label for="name" class="h4 mb-2 text-dark">Name</label>
                            </div>
                            <input type="text" class="form-control"  name="Name" />
                        </div>
                        <div class="d-flex justify-content-center">

                            <a asp-action="InsertPlayer" class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Add player</a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</body>

@*<h1>@this.ViewData["Title"]</h1>

    @foreach (var setting in this.Model.Settings)
    {
        <div>@setting.Id: @setting.NameAndValue</div>
    }

    <a asp-action="InsertSetting" class="btn btn-primary">Insert new</a>*@
