@using DamaGame.Web.ViewModels.Players
@model PlayersListViewModel

@{
    this.ViewData["Title"] = "Ranking";
}

<h1>@this.ViewData["Title"]</h1>

@foreach (var player in this.Model.PlayersUser)
{
<h6>Player-@player.Name  .......  Wins-@player.Wins  .......  Losses-@player.Losses</h6> 
}
