@using DamaGame.Web.ViewModels.Players
@model PlayerViewModel

@{
    this.ViewData["Title"] = "Remove Player";
}

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card-body">
                    <h5 class="card-title text-center text-primary">Remove player</h5>
                    <form method="post" class="form-signin">

                        <div class="form-label-group">
                            <input asp-for="Name" class="form-control" placeholder="Player name" required />
                            <label asp-for="Name">Player name (between 4 and 16 characters)</label>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-block btn-primary text-white mb-3">Remove player</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
